name: Unit Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Generating config.properties
        env:
          CONFIG_FILE: "mmapi-java-sdk/src/test/resources/config.properties"
        run: |
          touch $CONFIG_FILE
          echo "CONSUMER_KEY=${{ secrets.CONSUMER_KEY }}" >> $CONFIG_FILE
          echo "CONSUMER_SECRET=${{ secrets.CONSUMER_SECRET }}" >> $CONFIG_FILE
          echo "API_KEY=${{ secrets.API_KEY }}" >> $CONFIG_FILE
          echo "CALLBACK_URL=${{ secrets.CALLBACK_URL }}" >> $CONFIG_FILE

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'

      - name: Build with maven
        run:  mvn -B package --file mmapi-java-sdk/pom.xml -DskipTests=true

      - name: Run unit tests
        run: mvn test "-Dtest=com.mobilemoney.unit.**" --file mmapi-java-sdk/pom.xml
